<html>
<head>
	<title>Mr Beast | Official Store | Merchandise</title>
	<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
	<div class="container">
		<div class="banner">
			<a routerLink= "../products" href="#">
				<video width="100%"autoplay loop>
			  		<source src={{newdes}} type="video/mp4">
				</video>
			</a>
		</div>
		<table class="Three">
			<tr>
				<td><a routerLink= "../products" href="#"><img src={{tees}}></a></td>
				<td><a routerLink= "../products" href="#"> <img src={{hoodies}}></a></td>
				<td><a routerLink= "../products" href="#"><img src={{joggers}}></a></td>
			</tr>
		</table>
		<div class="free-shipping">
			<a routerLink= "../products" href="#">
				<video width="100%"autoplay loop>
				  <source src={{ship}} type="video/mp4">
				</video>
			</a>
		</div>
		<table class="BeastGaming" id="shirt">
		</table>
		<div class="bag-summer" id="accessories">
			<table>
				<tr>
					<td><img src={{summer}}></td>
					<td class="Drop"><img src={{bag}}></td>
				</tr>
			</table>
		</div>
		<div class="quad">
			<table>
				<tr>
					<td><a routerLink= "../products" href="#"><img src={{youth}}></a></td>
				<td><a routerLink= "../products" href="#"><img src={{hoodies2}}></a></td>
				</tr>
				<tr>
					<td><a routerLink= "../products" href="#"><img src={{accessories}}></a></td>
					<td><a routerLink= "../products" href="#"><img src={{headwear}}></a></td>
				</tr>
			</table>
		</div>
		<div class="last-two">
			<table>
				<tr>
					<td><img src={{return}}></td>
					<td><img src={{payment}}></td>
				</tr>
			</table>
		</div>
		<div class="Home">
			<a routerLink= "../products" href="#">
			<p style="font-family: Montserrat;font-size: 18px;color:black;font-weight: bold;text-shadow: 2px 2px gray;">NEW DESIGNS 2020</p>
		</a>
	</div>
		</div>
</body>
<footer>
	<div class="rectangle">
		<a><p>NEW ARRIVAL</p></a>
		<a><p>APPAREL</p></a>
		<a><p>FLEECE</p></a>
		<a><p>YOUTH</p></a>
		<a><p>HEADWEAR</p></a>
		<a><p>ACCESSORIES</p></a>
		<a><p>GIFT CARD</p></a>
		<a><p>ALL</p></a>
		
		<div class="left">
			<a><p>ABOUT US</p></a>
			<a><p>HELP</p></a>
			<a><p>YOUR ACCOUNT</p></a>
			<a><p>RETURN POLICY</p></a>
			<a><p>CONTACT</p></a>
			<a><p>PRIVACY POLICY</p></a>
			<a><p>TERMS & CONDITIONS</p></a>
		</div>
		<div class="email">
			<form>
				<input name="email" id="mailBox" type="email" placeholder="Email" required /> 
    		<input type="submit"
           name="subscribe"
           id="subs" 
           class="subs"
           value="Subscribe">
			</form> 
		</div>
		<img src={{logobeast}} style="display: block;margin-left: auto;margin-right: auto;width: 8%;padding-top: 5%;padding-bottom: 2.5%;">
		<img src={{logobot}} style="display: block;margin-left: auto;margin-right: auto;width: 10%;">

		<article>
			<br><p style="text-align: center; font-size:16px; margin-right: 50px">{{foottext1}}</p>
		</article>
		
		<p style="text-align: center; font-size:13px; padding-top: 5%; margin-top: -20px;">{{foottext2}}</p>		
	</div>
</footer>	
</html>