<!DOCTYPE html>
<html>
<head>
	<title>PRODUCTS 2022 | Mr Beast | Official Store </title>
	<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>


<body>
	<div class="PageBody">
		<h5 class="Intro">T-Shirts</h5>
	</div>
	<table>
		<tr>
			<td><a><img src={{Item1}} onmouseover="this.src='/assets/shirt1.1.webp';"onmouseout="this.src='/assets/shirt1.webp';" alt="over1"><h3>	'BEAST' NIKE LEGEND TEE - </h3><h3>BLUE</h3></a><h4>P1,935.00</h4></td>
			<td><a><img src={{Item2}}  onmouseover="this.src='/assets/shirt2.1.webp';"onmouseout="this.src='/assets/shirt2.jpg';"alt="over2"><h3>'BEAST' NIKE LEGEND TEE - </h3><h3>RED</h3></a><h4>P1,935.00</h4></td>
			<td><a><img src={{Item3}}  onmouseover="this.src='/assets/shirt3.1.webp';"onmouseout="this.src='/assets/shirt3.jpg';"alt="over3"><h3>MRBEAST 'INFINITY BOX'</h3><h3> CRYSTAL WASH TEE</h3></a><h4>P1,450.00</h4></td>
			<td><a><img src={{Item4}}  onmouseover="this.src='/assets/shirt4.1.webp';"onmouseout="this.src='/assets/shirt4.jpg';"alt="over4"><h3> BEAST 'STEALTH' TEE</h3></a><h4>P1,210.00</h4></td>
		</tr>
		<tr>
			<td><a><img src={{Item5}} onmouseover="this.src='/assets/shirt5.1.jpg';"onmouseout="this.src='/assets/shirt5.jpg';" alt="over5"><h3>MRBEAST GRAFFITI BEAST TEE</h3><h3></h3></a><h4>P1,306.00</h4></td>
			<td><a><img src={{Item6}} onmouseover="this.src='/assets/shirt6.1.webp';"onmouseout="this.src='/assets/shirt6.webp';"alt="over6"><h3>MRBEAST GAMING REFLECTIVE TEE</h3></a><h4>P1,695.00</h4></td>
			<td><a><img src={{Item7}} onmouseover="this.src='/assets/shirt7.1.webp';"onmouseout="this.src='/assets/shirt7.webp';"alt="over7"><h3>BEAST GAMING 'SUB OR ELSE' REFLECTIVE TEE</h3><h3></h3></a><h4>P1,355.00</h4></td>
			<td><a><img src={{Item8}} onmouseover="this.src='/assets/shirt8.1.webp';"onmouseout="this.src='/assets/shirt8.webp';"alt="over8"><h3>BEAST GAMING 'AVATAR' TEE</h3><h3></h3></a><h4>P1,210.00</h4></td>
		</tr>
		<tr>
			<td><a><img src={{Item9}} onmouseover="this.src='/assets/shirt9.1.webp';"onmouseout="this.src='/assets/shirt9.webp';"alt="over9"><h3>BEAST GAMING 'LOADING' TEE</h3><h3></h3></a><h4>P1,210.00</h4></td>
		</tr>
	</table>>
	<div class="PageBody">
		<h5 class="Intro">Hoodies</h5>
	</div>
	<table>
		<tr>
			<td><a><img src={{Item10}} onmouseover="this.src='/assets/Hoodie1.1.webp';"onmouseout="this.src='/assets/Hoodie1.webp';" alt="over1"><h3>BEAST GAMING REFLECTIVE HOODIE</h3><h3></h3></a><h4>P2,905.00</h4></td>
			<td><a><img src={{Item11}}  onmouseover="this.src='/assets/Hoodie2.1.jpg';"onmouseout="this.src='/assets/Hoodie2.webp';"alt="over2"><h3>MRBEAST 'INFINITY BOX' HOODIE</h3><h3></h3></a><h4>P2,905.00</h4></td>
			<td><a><img src={{Item12}}  onmouseover="this.src='/assets/Hoodie3.1.jpg';"onmouseout="this.src='/assets/Hoodie3.webp';"alt="over3"><h3>BEAST INVERTED BOX LOGO HOODIE</h3><h3></h3></a><h4>P2,663.00</h4></td>
			<td><a><img src={{Item13}}  onmouseover="this.src='/assets/Hoodie4.1.jpg';"onmouseout="this.src='/assets/Hoodie4.jpg';"alt="over4"><h3> 'FROSTED BEAST' CHAMPION PULLOVER HOODIE</h3></a><h4>P3,146.00</h4></td>
		</tr>
	</table>
	<div class="PageBody">
		<h5 class="Intro">Joggers</h5>
	</div>
	<table>
		<tr>
			<td><a><img src={{Item14}} onmouseover="this.src='/assets/Jogger1.1.jpg';"onmouseout="this.src='/assets/Jogger1.webp';" alt="over1"><h3>BEAST 'ICON' JOGGERS</h3><h3></h3></a><h4>P2,420.00</h4></td>
			<td><a><img src={{Item15}}  onmouseover="this.src='/assets/Jogger2.1.webp';"onmouseout="this.src='/assets/Jogger2.webp';"alt="over2"><h3>MRBEAST 'INFINITY' JOGGERS</h3><h3></h3></a><h4>P2,420.00</h4></td>
			<td><a><img src={{Item16}}  onmouseover="this.src='/assets/Jogger3.1.webp';"onmouseout="this.src='/assets/Jogger3.webp';"alt="over3"><h3>MRBEAST 'HIGH ROLLER' JOGGERS</h3><h3></h3></a><h4>P2,420.00</h4></td>
			<td><a><img src={{Item17}}  onmouseover="this.src='/assets/Jogger4.1.webp';"onmouseout="this.src='/assets/Jogger4.webp';"alt="over4"><h3> BEAST INVERTED BOX LOGO JOGGERS</h3></a><h4>P2,420.00</h4></td>
		</tr>
	</table>
	<div class="PageBody">
		<h5 class="Intro">Accessories</h5>
	</div>
	<div class="bags">
		<table>
			<tr>
				<td><a><img src={{Item18}} onmouseover="this.src='/assets/Backpack1.2.webp';"onmouseout="this.src='/assets/Backpack1.webp';" alt="over1"><h3>BEAST SPECTRUM REFLECTIVE LOGO CHAMPION </h3><h3>BACKPACK</h3></a><h4>P3,146.00</h4></td>
				<td><a><img src={{Item19}}  onmouseover="this.src='/assets/Rucksack1.2.webp';"onmouseout="this.src='/assets/Rucksack1.webp';"alt="over2"><h3>BEAST SPECTRUM REFLECTIVE NIKE HERITAGE </h3><h3>RUCKSACK</h3></a><h4>P3,872.00</h4></td>
				<td><a><img src={{Item20}} onmouseover="this.src='/assets/Waterbottle1.2.webp';"onmouseout="this.src='/assets/Waterbottle1.webp';" alt="over1"><h3>'BEAST' 32OZ WIDE-MOUTH NALGENE</h3><h3></h3></a><h4>P1,210.00</h4></td>
				<td><a><img src={{Item21}}  onmouseover="this.src='/assets/Wristband1.2.webp';"onmouseout="this.src='/assets/Wristband1.webp';"alt="over2"><h3>BEAST WRISTBAND 4-PACK</h3><h3></h3></a><h4>P726.00</h4></td>
			
			</tr>
		</table>
	</div>

	<div class="Home">
		<a routerLink= "../home" href="#"> <!--- Click this to go back to the first page --->
			<p style="font-family: Montserrat;font-size: 18px;color:black;font-weight: bold;text-shadow: 2px 2px gray;">HOME</p>
		</a>
	</div>
	
</body>


<footer>
	<div class="rectangle">
		<a><p>NEW ARRIVAL</p></a>
		<a><p>APPAREL</p></a>
		<a><p>FLEECE</p></a>
		<a><p>YOUTH</p></a>
		<a><p>HEADWEAR</p></a>
		<a><p>ACCESSORIES</p></a>
		<a><p>GIFT CARD</p></a>
		<a><p>ALL</p></a>
		
		<div class="left">
			<a><p>ABOUT US</p></a>
			<a><p>HELP</p></a>
			<a><p>YOUR ACCOUNT</p></a>
			<a><p>RETURN POLICY</p></a>
			<a><p>CONTACT</p></a>
			<a><p>PRIVACY POLICY</p></a>
			<a><p>TERMS & CONDITIONS</p></a>
		</div>
		<div class="email">
			<input type="email"
           value=""
           placeholder="Email">
 
    		<input type="submit"
           name="subscribe"
           class="button"
           value="Subscribe"> 
		</div>
		<img src={{logobeast}} style="display: block;margin-left: auto;margin-right: auto;width: 8%;padding-top: 5%;padding-bottom: 2.5%;">
		<img src={{logobot}} style="display: block;margin-left: auto;margin-right: auto;width: 10%;">

		<article>
			<br><p style="text-align: center; font-size:16px; margin-right: 50px">{{foottext1}}</p>
		</article>
		
		<p style="text-align: center; font-size:13px; padding-top: 5%; margin-top: -20px;">{{foottext2}}</p>	
	</div>
</footer>
</html>