<!DOCTYPE html>
<html>
<head>
	<title>ABOUT US | Mr Beast | Official Store </title>
	<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<div class="bg-image"></div>
<body>
	<div class="main">
        
        <img src={{about}} class="logo">
        <div class="intro"><br><br><br><br><br>
            <h1>About Us</h1><br>
            <h3>Welcome to Mr. Beast Clothing Line, your number one source for all things Tees, Hoodies, Joggers, and different Accessories. We're dedicated to giving you the very best of clothes, with a focus on dependability, customer service and uniqueness.
                Founded in 2022 by Justine Nicdao, Mr. Beast Clothing Line has come a long way from its beginnings in a small shop. When Justine Nicdao first started out, his passion for helping other people be more eco-friendly, providing the best clothes and products drove him to action, dedicate his time and effort, did his best to acquire a branch, and gave him the impetus to turn hard work and inspiration into to a booming online store. We now serve customers all over the world, and are thrilled to be a part of the cool and eco friendly wing of the fashion and accessories industry.
            </h3> <br>   
                <h3>We hope you enjoy our products as much as we enjoy offering them to you. If you have any questions or comments, please don't hesitate to contact us.</h3>

        </div>
    </div>
</body>


<footer>
	<div class="rectangle">
		<a><p>NEW ARRIVAL</p></a>
		<a><p>APPAREL</p></a>
		<a><p>FLEECE</p></a>
		<a><p>YOUTH</p></a>
		<a><p>HEADWEAR</p></a>
		<a><p>ACCESSORIES</p></a>
		<a><p>GIFT CARD</p></a>
		<a><p>ALL</p></a>
		
		<div class="left">
			<a><p>ABOUT US</p></a>
			<a><p>HELP</p></a>
			<a><p>YOUR ACCOUNT</p></a>
			<a><p>RETURN POLICY</p></a>
			<a><p>CONTACT</p></a>
			<a><p>PRIVACY POLICY</p></a>
			<a><p>TERMS & CONDITIONS</p></a>
		</div>
		<div class="email">
			<input type="email"
           value=""
           placeholder="Email">
 
    		<input type="submit"
           name="subscribe"
           class="button"
           value="Subscribe"> 
		</div>
		<img src={{logobeast}} style="display: block;margin-left: auto;margin-right: auto;width: 8%;padding-top: 5%;padding-bottom: 2.5%;">
		<img src={{logobot}} style="display: block;margin-left: auto;margin-right: auto;width: 10%;">

		<article>
			<br><p style="text-align: center; font-size:16px; margin-right: 50px">{{foottext1}}</p>
		</article>
		
		<p style="text-align: center; font-size:13px; padding-top: 5%; margin-top: -20px;">{{foottext2}}</p>	
	</div>
</footer>
</html>