<nav>
  <a href="#" style="margin-left: 20px;"><img src="/assets/mrbeastlogo.jpg" alt=""></a>
  <ul>
      <li><a routerLink= "../home" href="#">Home</a></li>
      <li><a routerLink= "../about" href="#">About</a></li>
      <li><a routerLink= "../products" href="#">Products</a></li>
      <li><a routerLink= "../details" href="#">Product Details</a></li>
      <li><a routerLink= "../contact" href="#">Contacts</a></li>
      <li class="num" style="color: white;">+639650681793</li>
  </ul>
</nav>

<app-httpclient></app-httpclient>

