<div class="main">
    
    </div>
    <!DOCTYPE html>
    <html>
    <head>
        <title>PAGE NOT FOUND | Mr Beast | Official Store </title>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    
    <div class="bg-image"></div>
    <body>
        <div class="main">
            <div class="bg">
                <div id="base">
              </div>
              <div class="intro">  
                <h1>ERROR</h1><br>
              </div>
              <div class="nf">
                  <img src={{notfound}} alt="Not Found">
              </div>
              </div>
            </div>
    </body>
    
    
    <footer>
        <div class="rectangle">
            <a><p>NEW ARRIVAL</p></a>
            <a><p>APPAREL</p></a>
            <a><p>FLEECE</p></a>
            <a><p>YOUTH</p></a>
            <a><p>HEADWEAR</p></a>
            <a><p>ACCESSORIES</p></a>
            <a><p>GIFT CARD</p></a>
            <a><p>ALL</p></a>
            
            <div class="left">
                <a><p>ABOUT US</p></a>
                <a><p>HELP</p></a>
                <a><p>YOUR ACCOUNT</p></a>
                <a><p>RETURN POLICY</p></a>
                <a><p>CONTACT</p></a>
                <a><p>PRIVACY POLICY</p></a>
                <a><p>TERMS & CONDITIONS</p></a>
            </div>
            <div class="email">
                <input type="email"
               value=""
               placeholder="Email">
     
                <input type="submit"
               name="subscribe"
               class="button"
               value="Subscribe"> 
            </div>
            <img src="/assets/beastfooterlogo.png" style="display: block;margin-left: auto;margin-right: auto;width: 8%;padding-top: 5%;padding-bottom: 2.5%;">
            <img src="/assets/logobottom.jpg" style="display: block;margin-left: auto;margin-right: auto;width: 10%;">
    
            <article>
                <br><p style="text-align: center; font-size:16px; margin-right: 50px">{{foottext1}}</p>
            </article>
            
            <p style="text-align: center; font-size:13px; padding-top: 5%; margin-top: -20px;">{{foottext2}}</p>	
        </div>
    </footer>
    </html>